@page
@model WebApplication1.RegistrationModel
@{
}



<h2>Registierung</h2>

<hr />
<form method="post">
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Birthdate" class="control-label"></label>
            <input asp-for="Birthdate" class="form-control" type="date">
            <span asp-validation-for="Birthdate" class="alert-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Gender" class="control-label"></label>
            <select asp-for="Gender" class="form-control">
                <option value="" selected>Auswahl treffen</option>
                <option value="männlich">männlich</option>
                <option value="weiblich">weiblich</option>
            </select>
            <span asp-validation-for="Gender" class="alert-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="SocialSecurityNumber" class="control-label"></label>
            <input asp-for="SocialSecurityNumber" class="form-control" />
            <span asp-validation-for="SocialSecurityNumber" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="Mobilenumber" class="control-label"></label>
            <input asp-for="Mobilenumber" class="form-control" placeholder="+43 ..." />
            <span asp-validation-for="Mobilenumber" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="Street" class="control-label"></label>
            <input asp-for="Street" class="form-control" />
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="HouseNr" class="control-label"></label>
            <input asp-for="HouseNr" class="form-control" />
            <span asp-validation-for="HouseNr" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="Door" class="control-label"></label>
            <input asp-for="Door" class="form-control" />
            <span asp-validation-for="Door" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="Stair" class="control-label"></label>
            <input asp-for="Stair" class="form-control" />
            <span asp-validation-for="Stair" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Postcode" class="control-label"></label>
            <input asp-for="Postcode" class="form-control" />
            <span asp-validation-for="Postcode" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="Place" class="control-label"></label>
            <input asp-for="Place" class="form-control" />
            <span asp-validation-for="Place" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="City" class="control-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-success">
                 Anmeldung starten
         </button>
               <a type="button" asp-page="../Index" class="btn btn-secondary">Abbrechen</a>
        
    </div>
</form>






